/* .rowName {
    margin-left: 50px;
    border: solid lightgrey;
}

.rowPrice {
    

}

.rowAll {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    border: solid lightgrey; */
}